
    .grid {
        border: 0px solid rgb(111,41,97);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: 100%;
  
      }
      
      img {
        max-width: 80%;
        display: inline; 
        border: 10px solid rgb(44, 9, 9);
        border-radius: 15px;
        box-shadow: 10px 10px 10px rgb(119, 117, 117);
       
       
      }
      .grid .innergrid{ 
          padding: 50px;
      }
